<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UI to upload a document</title>
</head>
<body>
    <form th:action="upload" enctype="multipart/form-data" method="post">
        Enter file id:
        <input type="text" name="id"/><br/><br>
        <input type="file" name="document"/>
        <input type="submit" value="upload">
    </form>
    <table>
        <tr>
            <th>Id</th>
            <th>Document Name</th>
            <th>Download</th>
        </tr>
        <tr th:each="document: ${documents}">
            <td th:text="${document.id}"/>
            <td th:text="${document.documentName}"/>
            <td><a th:href="@{'download/'+${document.id}}">Download</a></td>
        </tr>
    </table>
</body>
</html>